[submodule "libs/bcdec"]
	path = libs/bcdec
	url = https://github.com/iOrange/bcdec
[submodule "libs/DirectXTex"]
	path = libs/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "libs/bc7enc"]
	path = libs/bc7enc
	url = https://github.com/richgel999/bc7enc
[submodule "libs/icbc"]
	path = libs/icbc
	url = https://github.com/castano/icbc
[submodule "libs/DirectX-Headers"]
	path = libs/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "libs/DirectXMath"]
	path = libs/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "libs/xxHash"]
	path = libs/xxHash
	url = https://github.com/Cyan4973/xxHash
